<div></div>
<!-- Search bar -->
<div class="search-wrapper">
    <div class="container container--add">
        <!-- <form id='search-form' method='get' class="search">
            <input type="text" class="search__field" placeholder="Search">
            <select name="sorting_item" id="search-sort" class="search__sort" tabindex="0">
                <option value="1" selected='selected'>By title</option>
                <option value="2">By year</option>
                <option value="3">By producer</option>
                <option value="4">By title</option>
                <option value="5">By year</option>
            </select>
            <button type='submit' class="btn btn-md btn--danger search__button">search a movie</button>
        </form> -->
        <form id='search-form' method='get' class="search">
            <input type="text" class="search__field" ng-model="search" placeholder="Search with movie name or genre or language">
        </form>                
    </div>
</div>

<!-- Main content -->
<section class="container">
    <div class="col-sm-12">
        <h2 class="page-heading">cinemas</h2>

        <!-- <div class="tags-area tags-area--thin">
            <form id='select' class="select" method='get'>
                  <select name="select_item" id="select-sort" class="select__sort" tabindex="0">
                    <option value="1" selected='selected'>London</option>
                    <option value="2">New York</option>
                    <option value="3">Paris</option>
                    <option value="4">Berlin</option>
                    <option value="5">Moscow</option>
                    <option value="3">Minsk</option>
                    <option value="4">Warsawa</option>
                    <option value="5">Kiev</option>
                </select>
            </form>

            <div class="tags tags--unmarked tags--aside">
                <span class="tags__label">Sorted by:</span>
                    <ul>
                        <li class="item-wrap"><a href="#" class="tags__item item-active" data-filter='all'>all</a></li>
                        <li class="item-wrap"><a href="#" class="tags__item" data-filter='name'>name</a></li>
                        <li class="item-wrap"><a href="#" class="tags__item" data-filter='popularity'>popularity</a></li>
                    </ul>
            </div>
        </div> -->
            <div class="cinema-wrap">
                <div class="row">
                    <div class="col-xs-6 col-sm-2 cinema-item" ng-repeat="movie in movies | filter:search" style="height:365px">
                        <div class="cinema">
                            <a href="#/movie/{{movie.id}}" class="cinema__images">
                                <img alt='' src="{{movie.imageurl}}">
                                <!-- <span class="cinema-rating">5.0</span> -->
                            </a>
                            <a href="#/movie/{{movie.id}}" class="cinema-title">{{movie.name}}</a>
                        </div>
                    </div>
                </div>
            </div>


           <!--  <div class="pagination paginatioon--full">
                    <a href='#' class="pagination__prev">prev</a>
                    <a href='#' class="pagination__next">next</a>
            </div> -->
  
    </div>
</section>

<div class="clearfix"></div>


<!-- open/close -->
<div class="overlay overlay-hugeinc">
    
    <section class="container">

        <div class="col-sm-4 col-sm-offset-4">
            <button type="button" class="overlay-close">Close</button>
            <form id="login-form" class="login" method='get' novalidate=''>
                <p class="login__title">sign in <br><span class="login-edition">welcome to A.Movie</span></p>

                <div class="social social--colored">
                        <a href='#' class="social__variant fa fa-facebook"></a>
                        <a href='#' class="social__variant fa fa-twitter"></a>
                        <a href='#' class="social__variant fa fa-tumblr"></a>
                </div>

                <p class="login__tracker">or</p>
                
                <div class="field-wrap">
                <input type='email' placeholder='Email' name='user-email' class="login__input">
                <input type='password' placeholder='Password' name='user-password' class="login__input">

                <input type='checkbox' id='#informed' class='login__check styled'>
                <label for='#informed' class='login__check-info'>remember me</label>
                 </div>
                
                <div class="login__control">
                    <button type='submit' class="btn btn-md btn--warning btn--wider">sign in</button>
                    <a href="#" class="login__tracker form__tracker">Forgot password?</a>
                </div>
            </form>
        </div>

    </section>
</div>